.idea/

**/.venv/
**/.ipynb_checkpoints/
**/__pycache__/
**/.pytest_cache
**.egg-info

embeddings/*
!embeddings/README.rst
datasets
**/dumps/
**/logs/

input/
!input/README.rst
!input/raw.txt
output/
!output/README.rst
