.idea/

**/.venv/
**/.ipynb_checkpoints/
**/__pycache__/
**/.pytest_cache
**.egg-info

embeddings/*
!embeddings/README.rst
datasets
**/dumps/
**/logs/

io/input/
!io/input/README.rst
!io/input/raw.txt

io/output/
!io/output/README.rst
